/*!	文档说明：
 *	说明：公共样式设置
 *	作者：刘刚
 *	版本：1.0
 *	编写日期：2015年5月22日
 *	最后修改：
 */



/*--------------------------------------------------
 *	基础设置
 *--------------------------------------------------*/
html,body{ font: 12px/1.5 "Microsoft Yahei", "微软雅黑", tahoma, helvetica, clean, sans-serif; }


/*--------------------------------------------------
 *	公共头部样式
 *--------------------------------------------------*/
.top{
	width:100%; 
	height:40px; 
	line-height:40px; 
	border-bottom:1px solid #e4e4e4; 
	position:fixed; 
	top:0; 
	left:0;
	background:#fff;
}
.top_wrap{ width:1024px; height:40px; margin:0 auto;}
.top_disc{ color:#231815;}
.top_disc span{ padding-left:15px; background:url(../images/star.jpg) no-repeat center left;}
.top_disc span a{ color:#e60012;}
.top_wrap em{ margin:0 5px; font-style: normal; color:#dcdddd;}
.top_option p{ text-align:right;}
.top_option p a{ color:#231815;}

.header{ width:100%; margin-top:40px; border-bottom:4px solid #383840;}
.head{ width:1024px; margin:0 auto;}
.logo{ width:350px;}

.search{ width:340px; height:40px; border:1px solid #d61719; margin:35px 0 0 35px;}
.search .search_input{ width:274px; height:40px; background:#fff; text-indent:5px; border:none; display:block;}
.search .search_btn{ width:66px; height:40px; background:url(../images/search_btn.jpg) no-repeat; border:none; cursor:pointer; display:block;}

.shops_car{ width:146px; height:42px; background:#db1817; margin-top:35px; font-size:14px;}
.shops_car a{ width:146px; height:42px; line-height:42px; display:block;  color:#f7f8f8; text-indent:60px;}


.nav{ width:1024px; margin:20px 0 1px 0;}
.classify{ width:160px; height:40px; position:relative;}
.classify_head{ width:160px; height:40px; line-height:40px; background:#3b3b3b; color:#fff;}
.classify_head a{ width:160px; height:40px; display:block; color:#fff;}
.classify_head p{ width:120px; text-align:center; font-size:14px;}
.classify_head span{ width:20px; height:20px; background:url(../images/classify_icon.png) no-repeat 0 0; margin:10px;}
.classify_head span.up{ background-position:0 0;}
.classify_head span.down{ background-position:0 -23px;}

.classify_box{ width:158px; height:444px; border:1px solid #adadae; border-top:none; position:absolute; top:45px; left:0; background:#fff; z-index:99; }
.classify_box ul{ width:158px; height:370px;}
.classify_box ul li{ width:158px; height:36px; line-height:36px; border-bottom:1px solid #adadae;}
.classify_box ul li a{ width:158px; height:36px; display:block; color:#333333; position:relative;}
.classify_box ul li.current > a{background:#db1817; color:#fff;}
.classify_box ul li img{ margin:0 15px;}
.classify_box p{ height:37px; line-height:37px; text-align:center; color:#333;}
.classify_box p.classify_bottom{ background:#686c84; color:#fff;}

.classify_box .r_triangle{ 
position: absolute;
right: -3px;
top: 50%;
margin-top: -8px;
border-color:  transparent #fff transparent transparent;
border-style: solid;
border-width: 8px 10px 8px 0;
width: 0;
height: 0;
font-size: 0;
line-height: 0;
z-index: 111;
display:none;
}

.classify_box .classify_child_list{ width:186px; min-height:443px; position:absolute; top:0; left:159px; border:2px solid #383840; border-top:none; background:#fff; z-index:100;}
.classify_box .classify_item{ width:180px; margin:10px auto;}
.classify_box .classify_tit{ width:180px; height:30px; line-height:30px; background:#eeeff3; color:#231815; text-indent:10px;}
.classify_box .classify_item ul{ width:180px; height:auto;}
.classify_box .classify_item ul li{ width:90px; height:30px; float:left; line-height:30px; text-indent:5px; border:none;}
.classify_box .classify_item ul li a{ width:auto; height:auto;}
.classify_box .classify_item ul li a:hover{ background:none; color:#333; text-decoration:underline;}

.nav_list{ width:860px;}
.nav_list li{ height:40px; line-height:40px; font-size:14px;  float:left; margin-right:10px; display:inline;}
.nav_list li a{ height:40px; display:block; text-indent:10px; color:#333;}
.nav_list li a:hover{ text-decoration:underline;}
/*--------------------------------------------------
 *	主体样式
 *--------------------------------------------------*/
.main{ width:1024px; margin:0 auto;}




/*--------------------------------------------------
 *	分页列表
 *--------------------------------------------------*/





/*--------------------------------------------------
 *	页脚样式
 *--------------------------------------------------*/
.footer{ width:1024px; margin:30px auto 0;}
.footer_top{ width:1024px; margin-bottom:50px;}
.fore{ width:140px; height:130px; border-right:1px solid #e3e2e2; margin-right:60px;}
.fore dt{ font-size:18px; color:#515151; font-weight:bold;}
.fore dd{ font-size:12px; line-height:24px; font-weight:bold;}
.fore dd a{ color:#7d7c7d;}
.fore dd a:hover{ text-decoration:underline;}
.tel{ width:220px;}
.tel_box{ margin-top:40px;}
.tel_box img{ float:left; margin-right:10px;}
.tel_box h3{ font-size:20px; color:#707070;}
.tel_box p{ font-size:12px; color:#727171;}
.copyright{ width:900px; margin:0 auto; border-top:1px solid #747373; padding-top:30px;}
.copyright p{ color:#727171; line-height:20px; text-align:center;}
.copyright p a{ font-size:14px; color:#231815; margin-bottom:15px;}
.copyright p em{ margin:0 5px;}





