/*!	文档说明：
 *	说明：内页布局样式设置
 *	作者：刘刚
 *	版本：1.0
 *	编写日期：2015年5月31日
 *	最后修改：
**/
 
 
/*热门推荐*/
.hot_push{ 
	width:1024px; 
	height:190px; 
	border-bottom:1px solid #dfdde6;
	background:#ededed;
	margin-top:10px;
}
.flag_tit{
	width:45px;
	height:113px;
	background:url(../images/flag.png) no-repeat;
	margin:0 0 0 25px;
}
.flag_tit h2{
	width:30px;
	text-align:center;
	font-size:16px;
	color:#515151;
	margin:5px auto 0;
	line-height:20px;
}
.hot_push_list{
	width:930px;
	height:150px;
	margin:20px 0 0 0;
}
.hot_push_list li{
	width:290px;
	height:150px;
	float:left;
	margin-left:20px;
	display:inline;
	background:#fff;
}
.hot_push_list li img{
	width:110px;
	height:110px;
	float:left;
	margin:20px 10px;
	display:inline;
}
.hot_push_list li .hot_push_disc{
	width:150px;
	float:left;
	display:inline;
	margin:20px 0 0 0;
}
.hot_push_disc h3{
	font-size:12px;
	color:#515151; 
	font-weight:normal;
	margin-bottom:5px;
	line-height:22px;
	
}
.hot_push_disc h3 a{ color:#515151;}
.hot_push_disc h3 a:hover{
	text-decoration:underline;\
}
.hot_push_disc p{
	color:#515151;
	margin-bottom:10px;
}
.hot_push_disc p span{
	color:#e50000;
	font-size:14px;
}
.hot_push_disc .hot_push_buy{
	width:64px;
	height:24px;
	border:1px solid #c7c6c6;
	text-align:center;
	line-height:24px;
	border-radius:5px;
	color:#515151;
	display:block;
}
/*选择价格*/
.select_prise{
	width:1024px;
	height:44px;
	border-bottom:1px solid #dfdde6;
}
.select_prise li{
	float:left;
	display:inline;
	margin:0 10px;
	line-height:44px;
	font-size:14px;
	color:#727171;
}
.select_prise li a{
	color:#727171;
}
.select_prise li a.search_on{ color:#db1817;}
/*热销单品*/
.hot_sale_single{
	width:1024px;
	height:220px;
	border-top:1px solid #dfdde6;
	border-bottom:1px solid #dfdde6;
	margin-bottom:30px;
}
.hot_sale_single_tit{
	width:1024px;
	height:44px;
	border-bottom:1px solid #dfdde6;
	color:#231815;
	font-size:14px;
	line-height:44px;
}
.hot_sale_single_box{
	width:1024px;
	height:175px;
	position:relative;
}
.hot_sale_single_box .hot_sale_single_list{
	width:920px;
	height:150px;
	overflow:hidden;
	position: relative;
	margin:13px 0 0 52px;
}
.hot_sale_single_list ul{
	position:absolute; 
	top:0; 
	left:0; 
	width:9999px;
}
.hot_sale_single_list li{
	width:230px;
	height:150px;
	float:left;
	display:inline;
}
.hot_sale_single_list li img{
	width:110px;
	height:110px;
	float:left;
	display:inline;
	margin:20px 10px;
}
.hot_sale_single_list li .hot_sale_single_disc{
	width:90px;
	float:left;
	display:inline;
	margin-top:20px;
}
.hot_sale_single_disc p{
	font-size:14px;
	color:#c82020;
}
.hot_sale_single_disc p a{
	font-size:12px;
	color:#727171;
	line-height:20px;
}
.hot_sale_single_box a.prev,.hot_sale_single_box a.next{
	width:45px; 
	height:45px; 
	background:url(../images/arrow.png) no-repeat 0 0;
	position:absolute;  
	top:50px; 
	text-indent:-9999px;
}
.hot_sale_single_box a.prev{ left:0; background-position:0 0;}
.hot_sale_single_box a.next{ right:0; background-position:-62px 0;}
.hot_sale_single_box a.prev:hover{ background-position:0 -48px;}
.hot_sale_single_box a.next:hover{ right:0; background-position:-62px -48px;}

/******************************** 内页左侧样式 ******************************************/

/*侧边导航*/
.sub_classify{
	width:176px;
	border:1px solid #f1cbc3;
	margin-bottom:10px;
}
.sub_classify h2{
	width:176px;
	height:38px;
	font-size:18px;
	color:#231815;
	text-indent:10px;
}
.sub_classify_tit{
	width:176px;
	height:38px;
	border-top:1px dashed #f1cbc3;
	line-height:38px;
	position:relative;
	cursor:pointer;
}
.sub_classify_tit p{
	font-size:14px;
	color:#231815;
	text-indent:10px;
}
.sub_classify_tit span{
	font-size:14px;
	color:#231815;
	position:absolute; 
	top:0;
	right:20px;
}
.sub_classify_list{
	width:176px;
	padding:10px 0;
}
.sub_classify_list li{
	width:75px;
	float:left;
	margin-left:13px;
	display: inline;
	line-height:24px;
}
.sub_classify_list li a{
	color:#727171;
}
.sub_classify_list li a:hover{
	text-decoration:underline;
}
/*侧边热销单品*/
.sub_hot_sale{
	width:178px;
}
.sub_hot_sale h2{
	font-size:14px;
	color:#231815;
	margin-left:10px;
	height:30px;
	line-height:30px;
}
.sub_hot_sale ul{
	width:176px;
	border:1px solid #c7c6c6;
	padding-top:10px;
}
.sub_hot_sale ul li{
	width:158px;
	margin:0 9px 10px;
}
.sub_hot_sale li img{
	width:158px;
	height:158px;
	display:block;
}
.sub_hot_sale li p{
	font-size:14px;
	color:#c82020;
	margin-top:5px;
}
.sub_hot_sale li p a{
	font-size:12px;
	color:#727171;
}

/************************************* 内页右侧样式 *****************************************/

/*商品选择搜索*/
.select_search{
	width:815px;
	padding-bottom:2px;
	border-bottom:2px solid #da1716;
	position:relative;
}
.select_search p{
	font-size:14px; 
	color:#5c5d5d;
	margin-left:10px;
	height:40px;
	line-height:40px;
}
.select_search p a{
	color:#5c5d5d;
	margin-left:30px;
	display:inline-block;
}
.select_search p a.choose{
	background:url(../images/sanjiao.jpg) no-repeat bottom center;
	color:#db1817;
}
.select_search .product_total{
	position:absolute;
	top:8px;
	right:0;
	border:2px solid #da1716;
	border-bottom:none;
	display:inline-block;
	padding:8px 10px;
	background:#fff;
}

/*商品列表*/
.product_list{
	width:815px;
	padding-top:20px;
}
.product_list li{
	width:262px;
	float:left;
	margin-left:9px;
	margin-bottom:20px;
	display:inline;
}
.product_list li img{
	width:260px;
	height:260px;
	border:1px solid #dbdbdb;
	display:block;
}
.product_list li p{
	font-size:14px;
	color:#e50000;
	line-height:20px;
	margin-top:5px;
}
.product_list li p a{ color:#727171; font-size:12px; }
.product_list li a:hover{
	text-decoration:underline;
}

/******************************
	商品详情页
*********************************/
.product_detail{
	width:1024px;
	margin-top:20px;
}
.product_pic{
	width:352px;
}

.jqzoom{
	float:left;
	border:none;
	position:relative;
	padding:0px;
	cursor:pointer;
	margin:0px;
	display:block;
}
.jqzoom img{ 
	background:url(../images/img/loading.gif) no-repeat center center;
}
.zoomdiv{
	z-index:100;
	position:absolute;
	top:0px;
	left:0px;
	width:350px;
	height:350px;
	background:#ffffff;
	display:none;
	text-align:center;
	overflow:hidden;
}
.jqZoomPup{
	z-index:10;
	visibility:hidden;
	position:absolute;
	top:0px;
	left:0px;
	width:20px;
	height:20px;
	border:1px solid #aaa;
	background:#ffffff ;
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	filter: alpha(Opacity=50);
}
/*图片小图预览列表*/
.spec-preview{
	width:350px;
	height:350px;
	border:1px solid #DFDFDF;
}
.spec-scroll{
	clear:both;
	margin-top:5px;
	width:352px;
}
.spec-scroll .prev{
	float:left;
	margin-right:4px; 
	background:url(../images/img/btn_prev.gif) no-repeat;
}
.spec-scroll .next{
	float:right; 
	background:url(../images/img/btn_next.gif) no-repeat;
}
.spec-scroll .prev,.spec-scroll .next{
	display:block;
	width:10px;
	height:45px; 
	cursor:pointer;
	text-decoration:none; 
	margin-top:5px; 
	text-indent:-9999px;
}
.spec-scroll .items{
	float:left;
	position:relative;
	width:322px;
	height:56px;
	overflow:hidden;
}
.spec-scroll .items ul{
	position:absolute;
	width:999999px;
	height:56px;
}
.spec-scroll .items ul li{
	float:left;
	width:64px;
	text-align:center;
}
.spec-scroll .items ul li img{
	border:1px solid #CCC;
	padding:2px;
	width:50px;
	height:50px;
}
.spec-scroll .items ul li img:hover{
	border:2px solid #FF6600;
	padding:1px;
}


.product_txt{
	width:500px;
	margin-left:40px;
}
.product_txt h2{
	font-size:14px;
	color:#231815;
	line-height:24px;
}
.product_txt h3{
	font-size:14px;
	color:#db1817;
	line-height:24px;
	border-bottom:1px solid #e7e7e8;
	margin-bottom:10px;
	padding-bottom:5px;
	font-weight:normal;
}
.product_txt p{
	font-size:14px;
	color:#231815;
	margin-bottom:10px;
}
.product_txt p strong{
	color:#da1716;
	font-size:18px;
}
.product_txt p span{ color:#898989;}

.product_txt .comment_star{
	display:inline;
	color:#db1716;
	font-size:14px;
}
.product_txt .comment_star em{ margin:0 10px;}

.comment_star em i{
	width:15px;
	height:15px;
	display:inline-block;
	background:url(../images/star1.png) no-repeat;
	margin:0 2px;
}
.product_txt dl{ margin-top:10px;}

.product_txt dl dt{
	width:70px;
	float:left;
	display:inline;
}
.product_txt dl dd{
	width:430px;
	float:left;
	display:inline;
}
.area{
	position:relative;}
.area .place{
	border:1px solid #ccc;
	margin-right:5px;
	padding:2px 4px;
	cursor:pointer;
}
.area .place em{
	font-style:normal;
}
.area .place i{
	width:9px;
	height:6px;
	display:inline-block;
	background:url(../images/down_icon.png) no-repeat;
	margin-left:5px;
}
.area_list{
	width:320px;
	min-height:100px;
	background:#fff;
	position:absolute;
	top:20px;
	left:0;
	z-index:99;
	border:1px solid #ccc;
	padding-top:10px;
}
.area_list p{
	margin-left:10px;
	font-size:14px;
	color:#333;
}
.area_list p a{
	width:80px;
	height:25px;
	line-height:25px;
	text-align: center;
	font-size:14px;
	color:#666;
	border:1px solid #ccc;
	margin-right:10px;
	display:inline-block;
	border-radius:5px;
}
.area_list p a:hover{
	color:#db1716;
	border:1px solid #db1716;
}
.area_list ul{
	margin:10px;
}
.area_list ul li{
	margin-right:10px;
	line-height:24px;
	font-size:12px;
	color:#666;
	float:left;
	display:inline;
	padding:2px 4px;
	cursor:pointer;
}
.area_list ul li:hover{
	background:#db1716;
	color:#fff;
}
.province .province_select{
	background:#db1716;
	color:#fff;
}
.city .city_select{
	background:#db1716;
	color:#fff;
}

.product_txt .choose_color li{
	float:left;
	display:inline;
	margin:0 5px;
}

.product_txt .choose_color li a{
	display: inline-block;
	white-space: nowrap;
	text-decoration: none;
	padding: 3px 6px;
	min-width: 10px;
	_width: 10px;
	text-align: center;
	border: 1px solid #DCDCDC;
	background: #FFF;
	-moz-transition-property: border-color,background;
	-o-transition-property: border-color,background;
	-webkit-transition-property: border-color,background;
	transition-property: border-color,background;
	-moz-transition-duration: .2s;
	-o-transition-duration: .2s;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
}
.product_txt .choose_color li a:hover{
	padding: 2px 5px;
    border: 2px solid #db1716;
}
.product_txt .choose_color li.choose_select a{
	padding: 2px 5px;
    border: 2px solid #db1716;
}

.count_num{ width:200px;}

.count_num .minus,.count_num .plus{
	width:25px;
	height:24px;
	text-align:center;
	line-height:22px;
	font-size:18px;
	border-radius:3px;
}
.count_num .minus{
	background:#ccc;
	color:#231815;
}
.count_num .plus{
	background:#db1716;
	color:#fff;
}
.count_num .choose_num{
	width:60px;
	height:22px;
	line-height:22px;
	border:1px solid #ccc;
	margin:0 10px;
	background:#fff;
	text-align:center;
}
.btn_action{ margin-top:10px;}

.btn_action .shops_car{ margin-top:0;}

.btn_action .collection_btn{
	width:144px; 
	height:40px; 
	background:#efefef;  
	font-size:14px; 
	position:relative;
	border:1px solid #c9c9c9;
	margin-left:20px;
}
.collection_btn a{
	width:144px; 
	height:40px; 
	line-height:40px; 
	display:block;  
	color:#231815; 
	text-indent:50px;
}
.btn_action .collection_btn img{
	position:absolute; 
	top:12px; 
	left:30px;
}

.product_infor{
	width:1024px;
	margin-top:30px;
	margin-bottom:20px;
}
.product_infor_tab{
	width:1024px;
	height:35px;
	border-bottom:2px solid #bababb;
	position:relative;
}
.product_infor_tab ul{
	position:absolute;
	left:20px;
	top:0;
	height:37px;
}
.product_infor_tab ul li{
	height:35px;
	padding:0 10px;
	float:left;
	background:#fff;
	line-height:35px;
	cursor:pointer;
}
.product_infor_tab ul li.tab_select{
	border:2px solid #bababb;
	border-bottom:none;
	line-height:32px
}

.product_infor_content{
	width:1024px;
	margin-top:20px;
}

/***************************个人购卡*************************************/

/*生活服务*/
.life_serve{
	width:176px;
	margin:20px 0 10px 0;
	border:1px solid #c7c6c6;
}
.life_serve h2{
	text-indent:10px;
	font-size:14px;
	color:#333;
	height:40px;
	line-height:40px;
}
.life_serve li{
	width:87px;
	height:60px;
	border-top:1px dashed #c7c6c6;
	border-right:1px dashed #c7c6c6;
	float:left;
	display:inline;
	text-align: center;
}
.life_serve li img{
	margin-top:10px;
}
.life_serve li a p{
	font-size:12px;
	color:#666;
	margin-top:5px;
}
.life_serve li a:hover{
	text-decoration:underline;
}
/*内页banner*/
.page_banner{
	width:815px;
	height:398px;
	border:1px solid #ccc;
	margin-top:20px;
	margin-bottom:10px;
}
.page_banner a{
	display:block;
}
.page_banner img{
	width:815px;
	height:398px;
	display:block;
}
.card_wrap{
	width:815px;
}
.card_tit{
	width:813px;
	height:46px;
	line-height:46px;
	background:#efefef;
	text-indent:10px;
	font-size:16px;
	color:#666;
	border:1px solid #ccc;
}
.card_infor{
	width:815px;
	height:264px;
}
.card_infor img{
	width:347px;
	height:264px;
	float:left;
	display:block;
}
.card_infor .card_disc{
	width:460px;
	float:right;
	padding-top:10px;
}
.card_infor .card_disc p{
	font-size:14px;
	color:#666;
	line-height:24px;
	margin-bottom:10px;
}
.card_list{
	width:780px;
	border:1px solid #ccc;
	margin:10px auto;
}
.card_list li{
	width:780px;
	padding-bottom:20px;
	border-bottom:1px solid #ccc;
}

.card_list li .card_pic{
	width:242px;
	height:153px;
	float:left;
	display:inline;
	margin:20px 0 0 20px;
}
.card_list li .card_box{
	width:500px;
	float:right;
	position:relative;
	margin-top:20px;
}
.card_box .card_value{
	width:300px;
	margin-bottom:10px;
}
.card_value span{
	width:50px;
	float:left;
	display:block;
	font-size:12px;
	color:#515151;
}
.card_box .card_value p{
	width:250px;
	float:left;
	margin-bottom:0;
}
.card_value p a{
	width:70px;
	height:25px;
	text-align:center;
	line-height:25px;
	display:inline-block;
	margin:0 5px 7px 2px ;
	border:1px solid #ccc;
	border-radius:3px;
}
.card_value p a.card_select{
	border:1px solid #cd1f1c;
}
.card_value .other_value{
	width:70px;
	height:25px;
	border:1px solid #ccc;
	line-height:25px;
	border-radius:3px;
	text-align:center;
	color:#666;
}
.card_box dl{
	margin-bottom:10px;
	width:300px;
}
.card_box dt{
	width:50px;
	float:left;
	font-size:12px;
	color:#515151;
}
.card_box dd{
	float:left;
}
.card_box p{
	font-size:12px;
	color:#515151;
	margin-bottom:5px;
}
.card_box p span{
	color:#cd1f1c;
	font-size:18px;
}
.card_box .buy_box{
	width:169px;
	height:37px;
	position:absolute; 
	top:0;
	right:0;
	background:url(../images/flag_bg.png) no-repeat;
}
.buy_box a{
	width:100px;
	height:25px;
	display:block;
	background:#fff;
	border-radius:5px;
	text-align:center;
	line-height:25px;
	color:#cd1f1c;
	font-size:14px;
	margin:6px 0 0 50px;
}
.card_box .card_option{
	position:absolute;
	top:138px;
	right:20px;
}
.card_box .card_option a{
	color:#999px;
	font-size:12px;
	margin-right:10px;
	display:inline-block;
}
.card_box .card_option a img{
	position:relative; 
	top:-2px;
	margin-right:2px;
}
.card_box .card_option a:hover{
	text-decoration:underline;
}
/**********************确认订单部分***********************/

/*确认订单详情*/

.crumbs{
	width:1024px; 
	margin:50px 0; 
	background:#e4e4e4; 
	height:32px; 
	overflow:hidden; 
	line-height:32px;
	position:relative;
}
.crumbs li{
	float:left; 
	width:200px; 
	text-align:center; 
	position:relative; 
	z-index:2; 
	font-weight:bold; 
	font-size:14px;
}
.crumbs li em{
	position:absolute; 
	right:-24px; 
	top:-8px; 
	width:0; 
	height:0; 
	line-height:0; 
	border-width:24px 0 24px 24px; 
	border-color:transparent  transparent transparent #fff; 
	border-style:dashed dashed dashed solid;
}
.crumbs li i{
	position:absolute; 
	right:-16px; 
	top:0; 
	width:0; 
	height:0; 
	line-height:0; 
	border-width:16px 0 16px 16px; 
	border-color:transparent  transparent transparent #e4e4e4; 
	border-style:dashed dashed dashed solid;
}
.crumbs li.current{
	background:#ce1f1c; 
	color:#fff; 
	z-index:1;
}
.crumbs li.current i{
	border-color:transparent  transparent transparent #ce1f1c;
}
/*确认收货地址*/
.addr_true_wrap{
	width:1024px;
	margin-bottom:30px;

}
.addr_true_wrap h3{
	font-size:16px;
	color:#231815;
	margin-bottom:10px;
	font-weight:normal;
}
.addr_list li{
	height:35px;
	line-height:35px;
	font-size:14px;
	color:#231815;
	position:relative;
	margin-bottom:5px;
	padding-left:100px;
}
.addr_list li:hover{
	background:#9f9fa0;
	color:#fff;
}
.addr_list li .change_addr{ color:#231815;}
.addr_list li:hover .change_addr{ color:#fff;}
.addr_list li.addr_select{
	background:#9f9fa0;
	color:#fff;
}
.addr_list li.addr_select .change_addr{ color:#fff;}
.addr_list li p{
	display:inline-block;
}
.addr_list li .makePoint{
	position:relative;
	top:9px;
	margin-right:5px;
	cursor:pointer;
}
.addr_list li .use_addr{
	margin-right:20px;
}
.addr_list li .location{
	position: absolute;
  	top: 6px;
  	left: 10px;
  	width: 12px;
  	height: 22px;
  	background:url(../images/location.png) no-repeat;
}
.addr_list li .make_tip{
	position:absolute;
	top:0;
	left:30px;
}
.addr_list li .change_addr{
	position:absolute;
	top:0;
	right:10px;
}
/*确认商品信息*/
.order_infor_wrap{
	width:1024px;
	margin-bottom:50px;
}
.order_infor_wrap h3{
	font-size:16px;
	font-weight:normal;
	color:#231815;
	margin-bottom:10px;
}
.order_infor_tit{
	width:1024px;
	height:35px;
	line-height:35px;
	font-size:14px;
	color:#231815;
	border-top:1px solid #e3e2e2;
	border-bottom:1px solid #e3e2e2;
}
.order_infor_tit span{
	display:block;
	text-align:center;
}
.order_infor_tit .buy_order_tit{
	width:364px;
}
.order_infor_tit .buy_order_price{
	width:220px;
}
.order_infor_tit .buy_order_num{
	width:220px;
}
.order_infor_tit .buy_order_total{
	width:220px;
}
.order_list{
	width:1024px;
}
.order_list li{
	border-bottom:1px dashed #e3e2e2;
	height:150px
}
.order_list li .order_item_infor{
	width:364px;
}
.order_list li .order_item_price{
	width:220px;
}
.order_list li .order_item_num{
	width:220px;
}
.order_list li .order_item_total{
	width:220px;
}
.order_list li .order_item_infor h4{
	font-size:14px;
	color:#231815;
	margin:15px 0 10px 0;
	font-weight:normal;
}
.order_list li .order_item_infor .order_item_pic{
	width:80px;
	height:80px;
	display:block;
	border:1px solid #999;
	text-align:center;
	outline: 0;
}
.order_list li .order_item_infor .order_item_txt{
	width:250px;
	margin-left:10px;
	font-size:12px;
	
}
.order_item_txt a{
	color:#898989;
	line-height:24px;
}

.order_list li .order_item_price span,.order_list li .order_item_total span{
	display:block;
	text-align:center;
	line-height:150px;
	font-size:18px;
	color:#c82020;
}
.order_list li .order_item_num .count_num{
	margin:65px auto 0;
	width:140px;
}
.brief_box{
	width:1022px;
	height:200px;
	border:1px dashed #e3e2e2;
	border-top:none;
}
.customer_message{
	width:480px;
	margin:10px 0 0 20px;
}
.customer_message label{
	font-size:14px;
	color:#231815;
}
.customer_message .customer_message_area{
	width:360px;
	height:20px;
	border:1px dashed #ccc;
	position:relative;
	top:10px;
	line-height:20px;
}
.express_infor{
	width:450px;
	margin:20px 0 0 20px;
}
.express_infor p{
	font-size:14px;
	color:#231815;
	margin-bottom:30px;
}
.express_infor p select{
	width:150px;
	height:25px;
	border:1px solid #ccc;
	border-radius:5px;
	text-align:center;
	margin-right:20px;
}
.express_infor p span{
	color:#c82020;
	font-size:18px;
}
.express_infor p.order_total{
	font-size:18px;
	text-align:right;
	margin-top:40px;
}
.send_addr{
	width:400px;
	height:80px;
	border:1px dashed #e3e2e2;
	border-top:none;
}
.send_addr dl{
	width:360px;
	margin:0 auto;
	padding-top:20px;
	font-size:14px;
}
.send_addr dl dt{
	width:60px;
	float:left;
	color:#c82020;
}
.send_addr dl dd{
	width:300px;
	float:left;
	color:#898989;
	line-height:20px;
}
.order_btn{
	width:1024px;
	height:35px;
	text-align:right;
	margin-top:10px;
}
.order_btn .order_submit{
	width:140px;
	height:35px;
	text-align:center;
	line-height:35px;
	font-size:16px;
	color:#fff;
	display:inline-block;
	background:#c82021;
}

/*支付第二步 支付方式*/
.pay_style{
	width:1024px;
	margin-bottom:30px;
}
.pay_style h2{
	font-size:16px;
	color:#231815;
	margin-bottom:10px;
	font-weight:normal;
}
.pay_item{
	width:1022px;
	border:1px solid #b4b5b6;
	margin-bottom:30px;
}
.pay_item_tit{
	width:1022px;
	height:40px;
	line-height:40px;
	background:url(../images/tit_bg.jpg) no-repeat;
}
.pay_item_tit p{
	margin-left:20px;
	font-size:18px;
	color:#fff;
}
.pay_item_list{
	margin:20px 30px;
}
.pay_item_list li{
	width:220px;
	float:left;
	margin:0 20px 10px 0;
	cursor:pointer;
	display:inline;
}
.pay_item_list li i{
	width:21px;
	height:21px;
	display:inline-block;
	margin-right:10px;
	margin-top:5px;
	float:left;
	background:url(../images/radio_false.png) no-repeat;
}
.pay_item_list li i.radio_select{
	background:url(../images/radio_true.png) no-repeat;
}
.pay_item_list li span{
	width:125px;
	height:30px;
	float:left;
	display:inline-block;
	background:url(../images/bank-logo.png) no-repeat;
}
.pay_item_list li .hgt{
	background:url(../images/pic8.jpg) no-repeat;
	background-size: 108px 100%;
}
.pay_item_list li .jians{
	background-position:0 -335px;
}
.pay_item_list li .zhongg{
	background-position:0 -840px;
}
.pay_item_list li .gongs{
	background-position:0 -140px;
}
.pay_item_list li .nongy{
	background-position:0 -530px;
}
.pay_item_list li .jiaot{
	background-position:0 -390px;
}
.pay_item_list li .mings{
	background-position:0 -448px;
}
.pay_item_list li .xingy{
	background-position:0 -755px;
}
.pay_item_list li .zhaos{
	background-position:0 -782px;
}
.pay_item_list li .youz{
	background-position:0 -868px;
}
.pay_item_list li .guangd{
	background-position:0 -170px;
}
.pay_item_list li .huax{
	background-position:0 -305px;
}
.pay_item_list li .zhongx{
	background-position:0 -895px;
}
.pay_item_list li .shenf{
	background-position:0 -697px;
}
.pay_item_list li .puf{
	background-position:0 -588px;
}

.pay_item_list li .zfb{
	background:url(../images/pic9.jpg) no-repeat;
	background-size: 100% 30px;
}
.pay_item_list p{
	font-size:14px;
	color:#231815;
	margin-bottom:10px;
}
a.pay_btn{
	width:110px;
	height:42px;
	display:block;
	text-align:center;
	line-height:42px;
	font-size:18px;
	color:#fff;
	background:#ce1f1c;
	border-radius:3px;
	margin-bottom:20px;
}
.pay_style_help{
	width:1024px;
	border-top:1px dashed #bbb7b7;
	padding-top:20px;
	margin-bottom:30px;
}
.pay_style_help h3{
	font-size:16px;
	color:#231815;
	margin-bottom:10px;
	margin-left:20px;
}
.pay_style_help dl{
	margin:0 20px;
}
.pay_style_help dl dt,.pay_style_help dl dd{
	font-size:14px;
	color:#727171;
	line-height:22px;
}
.pay_style_help dl dd{
	margin-bottom:10px;
}

/*卡片管理*/
.manage_card{
	width:815px;
	margin:20px 0;
}
.manage_card_tab{
	width:815px;
	height:44px;
	border-bottom:1px solid #cd1e1c;
}
.manage_card_tab li{
	width:152px;
	height:43px;
	border:1px solid #cd1e1c;
	border-bottom:none;
	float:left;
	border-radius:3px 3px 0 0;
}
.manage_card_tab li a{
	width:152px;
	height:43px;
	display:block;
	text-align:center;
	line-height:43px;
	font-size:16px;
	color:#515151;
	background:url(../images/arrow2.png) no-repeat 85% center;
}
.manage_card_tab li a:hover{
	text-decoration:none;
	color:#fff;
	background:#cd1e1c url(../images/arrow1.png) no-repeat 85% center;
}
.manage_card_tab li a.manage_card_select{
	color:#fff;
	background:#cd1e1c url(../images/arrow1.png) no-repeat 85% center;
}
.manage_card_list{
	width:813px;
	margin-top:20px;
	border:1px solid #d8d7d7;
	border-right:none;
	border-bottom:none;
	margin-bottom:30px;
	
}
.manage_card_list li{
	width:270px;
	border-right:1px solid #d8d7d7;
	border-bottom:1px solid #d8d7d7;
	float:left;
	position:relative;
}
.manage_card_list li h2{
	margin:10px 10px 5px 10px;
	font-size:16px;
	color:#727171;
}
.manage_card_list li img{
	width:270px;
	height:160px;
	display:block;
	margin-bottom:10px;
}
.manage_card_list_disc{
	width:270px;
	height:45px;
	background:#54555b;
	padding:5px 0;
}
.manage_card_list_disc p{
	margin:0 10px;
	font-size:14px;
	color:#fff;
	line-height:20px;
}
.manage_card_list_disc p span{
	font-size:20px;
	color:#e50402;
}
.flag1{
	width:79px;
	height:77px;
	background:url(../images/flag1.png) no-repeat;
	position:absolute;
	top:-1px;
	right:-1px;
}
/*卡片详情*/
.manage_card_disc{
	width:815px;
	margin:20px 0;
}
.manage_card_disc_crumb{
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#515151;
	margin-bottom:10px;
}
.manage_card_disc_crumb a{
	color:#515151;
}
.manage_card_disc_crumb span{
	color:#c91d1d;
}
.swiper-container {
	width: 813px;
	height: 442px;
	border:1px solid #c7c6c6;
	border-top:2px solid #cd1e1c;
}
.swiper-slide {
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
.swiper-container .swiper-pagination-bullet{
	width:10px;
	height:10px;
	background:#9b9b9f;
}
.swiper-container .swiper-pagination-bullet-active{
	background:#e65d5c;
}
.manage_card_infor{
	width:813px;
	border:1px solid #c7c6c6;
	border-top:none;
}
.manage_card_value{
	width:813px;
	height:50px;
	line-height:50px;
	background:#ecdac2;
}
.manage_card_value p{
	font-size:14px;
	color:#3e3e3e;
}
.manage_card_value p span{
	margin-left:20px;
	margin-right:20px;
}
.manage_card_value p strong{
	font-size:22px;
}
.manage_card_value p a{
	background:#4a3111;
	padding:2px 6px;
	color:#fff;
	font-size:12px;
	border-radius:3px;
	margin-left:10px;
}
.manage_card_infor dl{
	margin:20px;
	padding-bottom:20px;
	border-bottom:1px solid #c7c6c6;
}
.manage_card_infor dl dt{
	font-size:14px;
	color:#3e3e3e;
	margin-bottom:5px;
	position:relative;
}
.manage_card_infor dl dd{
	font-size:14px;
	color:#888888;
	line-height:22px;
}
.manage_card_infor dl dt a{
	width:104px;
	height:32px;
	background:url(../images/btn1.jpg) no-repeat;
	text-align:center;
	line-height:32px;
	font-size:14px;
	color:#fff;
	display:block;
	position:absolute;
	top:-5px;
	left:300px;
}

.manage_card_infor .use_card_help{
	display:block;
	font-size:12px;
	color:#aa7b47;
	text-align:center;
	margin-bottom:20px;
}
.manage_card_infor .use_card_help:hover{
	text-decoration:underline;
}
/*卡片账单*/
.card_bill_list{
	width:815px;
	margin:20px 0;
}
.card_bill_list h3{
	font-size:14px;
	color:#db4c2c;
	border-bottom:1px solid #c7c6c6;
	margin-bottom:20px;
	padding-bottom:20px;
}
.card_bill_list li{
	border-bottom:1px solid #c7c6c6;
	margin-bottom:20px;
	padding-bottom:20px;
}
.card_bill_list li .card_shop{
	width:70%;
}
.card_bill_list li .card_shop p{
	font-size:14px;
	color:#aa7b47;
	margin-bottom:5px;
}
.card_bill_list li .card_shop span{
	font-size:12px;
	color:#808285;
}
.card_bill_list li .bill_num{
	width:20%;
	text-align:right;
	margin-right:15px;
}
.card_bill_list li .bill_num p{
	font-size:18px;
	margin-bottom:5px;
}
.card_bill_list li .bill_num p.bill_plus{
	color:#e50000;
}
.card_bill_list li .bill_num p.bill_minus{
	color:#515151;
}
.card_bill_list li .bill_num span{
	font-size:12px;
	color:#808285;
}

/*确认收货*/
.affirm_pay{
	width:1024px;
	margin:20px 0;
}
.affirm_pay_crumb{
	font-size:14px;
	color:#231815;
	margin-bottom:10px;
}
.affirm_pay_crumb a{
	color:#515151;
}
.affirm_pay_crumb span{
	color:#c91d1d;
}
.flow{
	width:1000px;
	height:80px;
	margin:0 auto 20px;
	background:url(../images/flow.jpg) no-repeat center center;
}
.flow p{
	font-size:12px;
	color:#888888;
	margin-left:10px;
}
.flow p.flow_step{
	margin-bottom:45px;
	margin-left:40px;
}
.flow p span{
	float:left;
	display:inline;
}
.flow p span.flow_step1{
	width:300px;
	
}
.flow p span.flow_step2{
	width:270px;
}
.flow p span.flow_step3{
	width:280px;
}
.affirm_pay_infor,.affirm_pay_disc{
	width:1022px;
	border:1px solid #c7c6c6;
	margin-bottom:20px;
}
.affirm_pay_infor_left{
	width:300px;
	border-right:1px solid #c7c6c6;
}
.affirm_pay_infor_left .affirm_pay_infor_left_tit{
	height:40px;
	border-bottom:1px solid #c7c6c6;
	background:#eff0f0;
	line-height:40px;
	color:#231815;
	font-size:14px;
	text-indent:15px;
}
.affirm_pay_infor_left .affirm_pay_addr,.affirm_pay_infor_left .affirm_pay_num{
	margin-left:20px;
	border-bottom:1px solid #c7c6c6;
	padding:15px 0;
	margin-bottom:15px;
}
.affirm_pay_infor_left .affirm_pay_addr p,.affirm_pay_infor_left .affirm_pay_num p{
	font-size:12px;
	color:#888;
	line-height:22px;
}
.affirm_pay_infor_left .affirm_pay_num{
	border:none;
	padding:0;
}

.affirm_pay_infor_right{
	width:720px;
}
.affirm_pay_infor_right h3{
	font-size:16px;
	color:#231815;
	margin:20px 0 0 55px;
}
.affirm_pay_infor_right h3 img{
	position:relative;
	top:0;
	margin-right:10px;
}
.affirm_pay_infor_right dl{
	margin:10px 0 0 80px;
}
.affirm_pay_infor_right dl dt{
	font-size:12px;
	color:#231815;
	line-height:20px;
}
.affirm_pay_infor_right dl dt span{
	color:#cd1f1c;
}
.affirm_pay_infor_right dl dd{
	margin-left:35px;
	font-size:12px;
	color:#231815;
	line-height:20px
}
.affirm_pay_infor_right dl dd span{
	color:#c66701;
}
.affirm_pay_infor_right p{
	margin:10px 0 0 70px;
	font-size:12px;
	color:#231815;
}
.affirm_pay_infor_right p a{
	color:#031b83;
	display:inline-block;
	margin:0 20px;
}
.affirm_pay_infor_right p a.affirm_pay_btn{
	width:94px;
	height:23px;
	background:url(../images/btn2.jpg) no-repeat;
	line-height:23px;
	text-align:center;
	color:#231815;
}
.affirm_pay_disc .affirm_pay_disc_tit{
	width:1022px;
	height:44px;
	background:#efeff0;
	line-height:44px;
}
.affirm_pay_disc .affirm_pay_disc_tit li{
	float:left;
	font-size:14px;
	color:#898989;
	text-align:center;
}
.affirm_pay_disc .affirm_pay_disc_tit li.tit_li1{ width:322px;}
.affirm_pay_disc .affirm_pay_disc_tit li.tit_li2{ width:140px;}
.affirm_pay_disc .affirm_pay_disc_tit li.tit_li3{ width:140px;}
.affirm_pay_disc .affirm_pay_disc_tit li.tit_li4{ width:140px;}
.affirm_pay_disc .affirm_pay_disc_tit li.tit_li5{ width:140px;}
.affirm_pay_disc .affirm_pay_disc_tit li.tit_li6{ width:140px;}

.affirm_pay_disc .affirm_pay_disc_box{
	width:1022px;
	height:105px;
	line-height:105px;
}
.affirm_pay_disc .affirm_pay_disc_box li{
	font-size:16px;
	color:#898989;
	float:left;
	text-align:center;
}
.affirm_pay_disc .affirm_pay_disc_box li.goods_li1{ width:322px; text-align:left; font-size:12px;}
.affirm_pay_disc .affirm_pay_disc_box li.goods_li2{ width:140px;}
.affirm_pay_disc .affirm_pay_disc_box li.goods_li3{ width:140px;}
.affirm_pay_disc .affirm_pay_disc_box li.goods_li4{ width:140px;}
.affirm_pay_disc .affirm_pay_disc_box li.goods_li5{ width:140px;}
.affirm_pay_disc .affirm_pay_disc_box li.goods_li6{ width:140px;}

.affirm_pay_disc .affirm_pay_disc_box li.goods_li1 img{
	float:left;
	display: block;
	margin:14px 10px;
}
.affirm_pay_disc .affirm_pay_disc_total{
	width:1022px;
	height:60px;
	background:#efeff0;
	border-top:1px solid #c7c6c6;
	padding-top:10px;
}
.affirm_pay_disc .affirm_pay_disc_total p{
	margin:0 30px;
	text-align:right;
	font-size:14px;
	color:#898989;
	line-height:22px;
}
.affirm_pay_disc .affirm_pay_disc_total p strong{
	font-size:22px;
	color:#cd1f1c;
	font-weight:normal;
}





