
.save-submit
{
    border: none;
    background: #D61E21;
    color: white;
    font-size: 14px;
    border-radius: 3px;
	font-family:'\5FAE\8F6F\96C5\9ED1';
	cursor:pointer;
}

.main
{
    margin-top: 42px;
}

.personal-menu
{
    float: left;
    /*height: 447px;*/
    width: 176px;

    font-size: 14px;
    margin-bottom: 50px;
}

.personal-menu-select
{
    color: #D12021 !important;
}

.personal-menu .personal-menu-box
{
    border: 1px solid #EFCBC3;
}

.personal-menu-title
{
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    text-indent: 20px;
}

.personal-menu-list
{

    text-indent: 48px;
}

.personal-menu-list li
{
    height: 43px;
    line-height: 43px;
    border-top: 1px dashed #EFCBC3;
}

.personal-menu .sell-hot-title
{
    font-size: 14px;
    margin: 10px 0;
}

.personal-menu .sell-hot-product
{
    border: 1px solid #EFCBC3;
}

.personal-menu .sell-hot-product li
{
    font-size: 12px;
    padding:5px;
}


.personal-information
{
    float: right;
    width: 815px;
    font-size: 14px;
    margin-bottom: 60px;
}

.add{
	border: 1px solid #db1817;
	height: 15px;
	line-height: 12px;
	width: 15px;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	color:#db1817;
}

.personal-information-menu
{
    height: 28px;
    border-bottom: 2px solid #727272;
    /*margin-bottom: 40px;*/
}

.personal-information-menu .menu-select
{
    border: 2px solid #727272;
    border-bottom: 2px solid white;
}

.personal-information-menu li
{
    float: left;
    padding: 0 12px;
    height: 26px;
    line-height: 26px;
}

.personal-information-data
{
    margin-left: 60px;
    margin-top: 40px;
}

.personal-information-data li
{
    width: 700px;
    height: 32px;
    margin-bottom: 10px;
}
.personal-information-data select{
	border: 1px solid #D9D9DA;
    height: 30px;
}
.personal-information-data input[type=text]
{
    border: 1px solid #D9D9DA;
    height: 30px;
    width: 208px;
}

.personal-information-data input[type=submit]
{
    height: 27px;
    width: 60px;
    float: right;
}

.personal-information-data select
{
    width: 67px;
}

.personal-information-data li span
{
    width: 120px;
    height: 30px;
    line-height: 30px;
    float: left;
}

.personal-information-data .meta
{
    height: 30px;
    line-height: 30px;
    width: 330px;
    float: left;
}
.personal-information-data .meta span{
	display:block;
	margin-bottom:10px;
	float:none;
}
.meta .head_box{
	width:100px;
	height:100px;
	border:1px solid #ccc;
}


.personal-information-data .sex label
{
    margin-right: 16px;
}

.personal-information-data .progress
{
    margin-bottom: 30px;
}

.personal-information-data .progress-bg
{
    height: 18px;
    width: 300px;
    background: #DCDDDD;
    display: inline-block;
    margin-top: 7px;
    position: absolute;
}

.personal-information-data .progress-value
{
    height: 18px;
    width: 100px;
    background: red;
    display: inline-block;
    margin-top: 7px;
    position: relative;
    left: 0;
}

.personal-information-data .avatar
{
    height: 142px;
    margin-bottom: 13px;
}

.personal-information-data .avatar img
{
    width: 94px;
    height: 94px;
    position: absolute;
}

.personal-information-data .avatar p
{
    position: relative;
    font-size: 12px;
    width: 94px;
    height: 94px;
    line-height: 94px;
    text-align: center;
    color: #898989;
    cursor: pointer;
}


/*个人中心-个人信息-收货地址管理*/


.personal-address, .personal-password, .personal-pay-password, .card-common, .card-state, .my-message, .my-integral, .help-center
{
    height: auto;
    border-left: 1px dashed #E4E4E5;
    border-right: 1px dashed #E4E4E5;
    border-bottom: 1px dashed #E4E4E5;
    padding-bottom: 36px;
    padding-top: 78px;
}

.personal-address
{
    padding-top: 0;
}

.personal-address-data
{
    width: 737px;
    font-size: 16px;
    margin-bottom: 50px;
}

.personal-address-data tr, .personal-password-data tr, .personal-pay-password-data tr, .card-from tr
{
    height: 50px;
	color: #898989;
}
.personal-address-data select{
	height:30px;
	border:1px solid #BFBFBF;
}

.personal-address-data input[type=text]
{
    height: 30px;
    width: 133px;
    border:1px solid #BFBFBF;
}

.personal-address-data textarea
{
    width: 430px;
    height: 56px;
    border-color: #BFBFBF;
}

.personal-address-data .add-tip
{
    color: #CA2424;
    padding-top: 20px;
}

.personal-address-data .add-header
{
    color: #898989;
    width: 155px;
}

.personal-address-data .save-submit, .personal-password-data .save-submit, .personal-pay-password-data .save-submit, .card-from .save-submit
{
    width: 55px;
    height: 27px;
	line-height:25px;
}

.personal-address-list
{
    width: 737px;
    margin-top: 25px;
    font-size: 12px;
    border: 1px solid #D4D4D4;
    background: #F7F8F8;
}

.personal-address-list tr
{
    border: 1px solid #D4D4D4;
    height: 32px;
}

.personal-address-list th,.personal-address-list td
{
    text-align: center;
}

.personal-address-list .list-tr
{
    height: 60px;
}
.personal-address-list .list-tr a{
	color:#333;
}
.list-tip
{
    color: #CA2424;
    font-size: 16px;
    margin-left: 38px;
}

.personal-address-list .list-shr
{
    width: 62px;
}

.personal-address-list .list-szdq
{
    width: 150px;
}

.personal-address-list .list-jddz
{
}

.personal-address-list .list-yb
{
    width: 65px;
}

.personal-address-list .list-yb
{
    width: 110px;
}

.personal-address-list .list-null
{
    width: 66px;
}

.personal-address-list .list-action
{
    width: 92px;
}

.personal-password-data, .personal-pay-password-data, .card-from
{
    width: 600px;
    font-size: 16px;
    margin: 0 0 30px 130px;
}

.personal-password-data tr td:nth-of-type(1), .card-from tr td:nth-of-type(1)
{
    width: 110px;
    color: #898989;
    text-align: right;
    font-size: 16px;
}

.personal-password-data tr td:nth-of-type(2), .personal-pay-password-data tr td:nth-of-type(2), .card-from tr td:nth-of-type(2)
{
    width: 185px;
    text-align: right;
}

.personal-password-data tr td:nth-of-type(3), .personal-pay-password-data tr td:nth-of-type(3), .card-from tr td:nth-of-type(3)
{
    width: 110px;
    text-align: right;
}


.personal-password-data input[type=text], .personal-pay-password-data input[type=text], .card-from input[type=text]
{
    height: 30px;
    width: 155px;
    border:1px solid #BFBFBF;
	line-height:30px;
	text-indent:10px;
}

.personal-pay-password
{
    margin-bottom: 60px;
}

.personal-pay-password-data tr td:nth-of-type(1)
{
    width: 140px;
    color: #898989;
    text-align: right;
    font-size: 16px;
}

/*个人中心-我的订单*/

.my-order, .my-card, .my-collect, .my-cart
{
    height: auto;
}

.my-order .my-order-list, .my-card .my-card-list, .my-collect .my-collect-list, .my-cart .my-cart-list
{
    width: 100%;
}


.personal-information .color-select
{
    background: #EFEFEF;
    border-bottom-color: #EFEFEF;
	color:#898989;
}




.my-order .inner-order tr:last-child, .my-collect .inner-order tr:last-child, .my-cart .inner-order tr:last-child
{
    height: 20px;
}

.my-order .inner-order, .my-collect .inner-order, .my-cart .inner-order
{
    border-bottom: 1px dashed #D7D7D7;
}

.my-order .inner-order td:nth-of-type(2), .my-order .inner-order tr:nth-of-type(1)
{
    font-size: 12px;
}

.my-order .commit-order, .my-cart .commit-order
{
    margin-top: 18px;
    width: 100%;
    height: 55px;
    background: #EFEFEF;
    font-size: 12px;
}

.my-order .commit-order td, .my-cart .commit-order td
{
    text-align: center;
}

.my-order .my-order-list a:hover, .my-card .my-card-list a:hover, .my-collect .my-collect-list a:hover, .my-cart .my-cart-lis a:hover{
	color:#db1817;
}

.page-list
{
    height: 40px;
    margin: 0 auto;
}

.page-list li
{
    display: inline-block;
    padding: 3px 5px;
    margin: 0 5px;
}

.page-list .page-selected
{
    color: red;
}

.page-list li[class=prev], .page-list li[class=next]
{
    width: 100px;
    border: 1px solid #D7D7D7;
    color: #D7D7D7;
    text-align: center;
}

.my-card .my-card-list tr td
{
    text-align: center;

}

.my-card .my-card-list tr
{
    border-bottom: 1px solid #C8C6C6;
    height: 43px;
}


.card-common
{
    padding-bottom: 80px;
}

.card-state
{
    padding-bottom: 280px;
}

.card-from
{
    margin-bottom: 10px;
}

.card-from p{
	margin-bottom:20px;
	height:35px;
	line-height:35px;
}
.card-from p label{
	display:inline-block;
	width:120px;
	text-align: right;
	font-size:16px;
	color:#898989;
	margin-right:10px;
}
.card-from p input[type=text],.card-from p input[type=password]{
	width:150px;
	height:32px;
	line-height:32px;
	border:1px solid #e2e2e2;
	background:#fff;
}
.card-from p img{
	width:100px;
	height:32px;
	display:inline-block;
	border:1px solid #e2e2e2;
	margin-left:10px;
	position:relative;
	top:-1px;
}
.card-from p span{
	display:inline-block;
	margin-left:10px;
	color:#231815;
	font-size:14px;
}

.card-from p a{ color:#0b3680;}
.card-from p a:hover{ text-decoration:underline;}

.my-card .trading-card tr th{ background:#efeff0; text-align:center;}

.my-card .trading-card tr th.alignLeft,.my-card .trading-card tr td.alignLeft
{
    width: 175px;
    text-align: left;
    text-indent: 20px;
}

.my-card .trading-card tr td:nth-of-type(3)
{
    width: 200px;
}

.my-card .trading-card tr td:nth-of-type(3)
{
    width: 110px;
}

.my-card .trading-card tr td a{ color:#333;}

.my-message
{
    padding-top: 0;
    padding-bottom: 5px;
}

.my-message .my-message-data, .my-integral .my-integral-data
{
    width: 800px;
    margin-left: 13px;
}

.my-message .my-message-data img, .my-integral .my-integral-data img
{
    width: 150px;
    text-align: left;
}

.my-message .my-message-data tr td, .my-integral .my-integral-data tr td
{
  
    vertical-align: top;
     padding: 30px 0;
}

.my-message .my-message-data tr:last-of-type, .my-integral .my-integral-data tr:last-of-type
{
    border-bottom: none;
}


.my-message .my-message-data tr, .my-integral .my-integral-data tr
{
    border-bottom: 1px solid #C9CACB;
}

.my-message .my-message-data tr:first-of-type, .my-integral .my-integral-data tr:first-of-type
{
    border-bottom: 1px solid #C9CACB;
}
.my-message .my-message-data h3,.my-integral .my-integral-data h3{
	color: #F18231;
	font-size: 14px;
	margin-bottom:5px;
	line-height:24px;
}
.my-message .my-message-data p,.my-integral .my-integral-data p{
	color: #7A7C7F;
	font-size: 12px;
}
.my-message .my-message-data span,.my-integral .my-integral-data span{
	color: #F18231;
	float: right;
	margin-right: 15px;
	font-size: 16px;
}
.my-integral, .help-center
{
    padding-top: 0;
    padding-bottom: 20px;
}

.my-integral-title
{
    height: 50px;
    line-height: 50px;
    text-indent: 10px;
    font-size: 18px;
    font-weight: bold;
    background: #EFEFEF;
    color: #808285;
}

.help-center
{
    padding-bottom: 10px;
}

.help-center .help-center-data
{
    margin-left: 25px;
    width: 790px;
}

.help-center .help-center-data
{
    border-bottom: 1px solid #C9CACB;
}

.help-center .help-center-data td
{
    padding-right: 10px;
}

.help-center .help-center-data  tr:nth-of-type(1) td
{
    height: 40px;
    padding-top: 20px;
}

.help-center .help-center-data  tr:nth-of-type(2) td
{
    height: auto;
    padding: 10px 20px 20px 0;
}

.help-center .help-center-data:last-of-type
{
    border: none;
}

/*收货，待收货列表样式*/
.my_order_tit{
	width:815px;
	height:45px;
	line-height:45px;
	font-size:14px;
	color:#898989;
	background:#efeff0;
}
.my_order_tit li{
	float:left;
	display:inline;
	text-align:center;
}
.my_order_tit li.my_order_tit_w1{ width:80px; text-align:left;}
.my_order_tit li.my_order_tit_w2{ width:250px;}
.my_order_tit li.my_order_tit_w3{ width:85px;}
.my_order_tit li.my_order_tit_w4{ width:85px;}
.my_order_tit li.my_order_tit_w5{ width:100px;}
.my_order_tit li.my_order_tit_w6{ width:100px;}
.my_order_tit li.my_order_tit_w7{ width:115px;}



.my_order_list{
	width:815px;
	margin-bottom:20px;
}
.my_order_list_model{
	width:815px;
	padding:20px 0;
	border-bottom:1px dashed #d6d6d6;
}
.my_order_list_model h3{
	font-size:12px;
	color:#231815;
	margin-bottom:10px;
	font-weight:normal;
}
.my_order_list_model li{
	float:left;
	display:inline;
	text-align:center;
	color:#898989;
	font-size:14px;
}
.my_order_list_model li.my_order_list_w1{ width:330px; text-align:left;}
.my_order_list_model li.my_order_list_w2{ width:85px;}
.my_order_list_model li.my_order_list_w3{ width:85px;}
.my_order_list_model li.my_order_list_w4{ width:100px;}
.my_order_list_model li.my_order_list_w5{ width:100px;}
.my_order_list_model li.my_order_list_w6{ width:115px;}

.my_order_list_model li .order_pic{
	width:80px;
	height:80px;
	display:block;
	float:left;
	margin:0 10px;
	display:inline;
}
.my_order_list_model li .order_pic img{
	width:80px;
	height:80px;
	display:block;
	border:1px solid #d6d6d6;
}
.my_order_list_model li p{
	width:170px;
	float:left;
	font-size:12px;
	line-height:20px;
}
.my_order_list_model li p a{
	color:#898989;
}
.my_order_list_model li span{
	line-height:80px;
}
.my_order_list_model li em{
	font-style:normal;
	display:block;
}
.my_order_list_model li em.gays_two{
	margin-top:15px;
}
.my_order_list_model li em.gays_there{
	margin-top:9px;
}
.my_order_list_model li em a{
	display:block;
}
.my_order_list_model li .order_btn{
	width:90px;
	height:30px;
	background:#6ac5fe;
	text-align:center;
	line-height:30px;
	display:block;
	margin:25px auto 0;
	border-radius:5px;
	color:#fff;
}
.my_order_list_model li .order_btn:hover{
	background:#cd1d1c;
	color:#fff;
}
.my_order_list_model li a:hover{
	color:#cd1d1c;
}
/*我的购物车*/
.my_cart_tit{
	width: 87px;
	height: 32px;
	line-height: 32px;
	background: #C94142;
	text-align: center;
	color: #fff;
}
.my-cart .my_cart_tit_w1{ width:100px; text-align:left; text-indent:5px;}
.my-cart .my_cart_tit_w2{ width:250px;text-align:left;}
.my-cart .my_cart_tit_w3{ width:115px;}
.my-cart .my_cart_tit_w4{ width:135px;}
.my-cart .my_cart_tit_w5{ width:100px;}
.my-cart .my_cart_tit_w6{ width:115px;}

.my-cart .my_cart_list_w1{ width:350px; text-align:left;}
.my-cart .my_cart_list_w2{ width:115px;}
.my-cart .my_cart_list_w3{ width:155px;}
.my-cart .my_cart_list_w4{ width:115px;}
.my-cart .my_cart_list_w5{ width:80px; text-align:left;}
/*收藏*/
.check_all{
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #C94142;
}
.check_all label{
	margin-left:5px;
}
.check_all a{
	font-size:14px;
	color:#333;
	margin-left:50px;
}
.my-collect .my_collect_tit_w1{ width:400px; text-align:left; text-indent:40px;}
.my-collect .my_collect_tit_w2{ width:145px;}
.my-collect .my_collect_tit_w3{ width:135px;}
.my-collect .my_collect_tit_w4{ width:135px;}

.my-collect .my_collect_list_w1{ width:400px; text-align:left;}
.my-collect .my_collect_list_w2{ width:145px;}
.my-collect .my_collect_list_w3{ width:135px;}
.my-collect .my_collect_list_w4{ width:135px;}

/*小结栏*/
.commit_order{
	width:815px;
	height:45px;
	line-height:45px;
	background:#efeff0;
	margin-bottom:20px;
}
.commit_order li{
	font-size:12px;
	color:#898989;
	float:left;
	display:inline;
	text-align:center;
}
.commit_order li.commit_order_w1{ width:80px;}
.commit_order li.commit_order_w2{ width:100px;}
.commit_order li.commit_order_w3{ width:250px; text-align:left;}
.commit_order li.commit_order_w4{ width:100px;}
.commit_order li.commit_order_w5{ width:200px;}
.commit_order li.commit_order_w6{ width:85px;}


.commit_order li a{
	color:#898989;
}
.commit_order li span{
	color:#db1817;
	font-size:14px;
}
.commit_order li.commit_order_w6 a{
	font-size:18px;
	color:#fff;
	display:block;
	background:#db1817;
}
.commit_order li input{
	position:relative;
	top:2px;
}
/*帮助中心*/
.help-center li{
	padding:20px 0;
	margin:0 20px;
	border-bottom:1px solid #d6d6d6;
}
.help-center li:last-child{
	border-bottom:none;
}
.help-center li h3{
	font-size:14px;
	color:#F28230;
	margin-bottom:10px;
	font-weight:normal;
}
.help-center li h3 img,.help-center li p img{
	margin-right:5px;
	position:relative;
	top:-2px;
}
.help-center li p{
	font-size:14px;
	color:#333;
	line-height:22px;
}

/*操作成功，操作失败*/
.option_notice{
	width:815px;
	padding-top:100px;
	
}
.option_notice img{
	float:left;
	margin-left:40px;
	margin-right:20px;
	display:inline;
}
.option_notice_txt h3{
	font-size:18px;
	color:#666;
	margin-bottom:10px;
}
.option_notice_txt p{
	font-size:14px;
	color:#666;
	line-height:20px;
	margin-bottom:30px;
}
.option_notice_txt p span{ color:#e50000;}




